@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Oswald", sans-serif;
    background: #121213;
    color: #D7DADC;
}

nav{
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #565758;
    padding-inline: 1.5rem;
}

#logo{
    width: 1.5rem;
}

i{
    color: #565758;
}

h1{
    margin-left: 6rem;
    font-weight: 800;
    font-size: 1.3rem;
}

.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.settingsDiv{
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wordBoxes{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.wordRow{
    display: flex;
    column-gap: 0.4rem;
}

.wordBox{
    width: 4rem;
    aspect-ratio: 1;
    border: 1px solid #565758;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}

.rightLetter, .rightBox{
    background: #538D4E !important;

}

.wrongLetter, .wrongBox{
    background: #3A3A3C !important;
    cursor: not-allowed !important;
}

.wrongPlace, .wrongPlaceBox{
    background: #B59F3B !important;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    row-gap: 0.6rem;
}

.key{
    width: 3rem;
    height: 4rem;
    background: #818384;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    color: #D7DADC;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.firstRow, .secondRow, .thirdRow{
    display: flex;
    gap: 0.6rem;
}

.enterKey, .deleteKey{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #818384;
    border-radius: 0.3rem;
    color: #D7DADC;
    font-size: 1.5rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.alertDiv{
    width: 15rem;
    height: 3rem;
    background: #538D4E;
    font-size: 1.3rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4.2rem;
    left: calc(50% - 7.5rem);
    opacity: 0;
    /* animation: winAnimation 5s; */
}

@keyframes winAnimation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.resetGameButton{
    width: 10rem;
    height: 3rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #538D4E;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
    display: none;
}

.resetGameButton:hover{
    scale: 0.95;
}